*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

body {
  /* overflow-x: hidden; */
  height: 100vh;
}

main {
  margin: 10vh auto;
}

.heading {
  background-color: #46d7ac;
  min-height: 10vh;
}

.separator {
  width: 1px;
  height: 70vh;
  background-color: #81ceb6;
}
