*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

body {
  height: 100vh;
}

main {
  margin: 10vh auto;
}

.heading {
  background-color: #46d7ac;
  min-height: 10vh;
}

.separator {
  width: 1px;
  height: 70vh;
  background-color: #81ceb6;
}

.divider {
  background-color: #81ceb6;
  width: 100%;
  height: 2px;
}

.enrolled-section {
  max-height: 33rem;
  overflow-y: auto;
}

.table-striped > tbody > tr:nth-child(even) > td {
  background-color: #ebf2d3;
}
.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #ffff;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
  border: 2px solid #a0be44;
}

thead {
  background-color: #a7c93f;
}

thead > tr > th,
td {
  padding: 0.25rem 0.5rem !important;
}

#table-data > tr > td:nth-child(even) {
  animation-name: fadeIn;
  animation-duration: 600ms;
  width: 8.25rem !important;
}

img {
  width: 110px;
  min-height: 120px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
